%h2 Session
%pre
  = @session.inspect
%p
  The access token stored in the session can be used in curl commands to experiment with the API.
%pre
  curl -H "Authorization: Bearer ACCESS-TOKEN" URL

%h2 All courses for Account # 1
%p
  = @courses_url
%pre
  = @courses.inspect
%ul
  - @courses.each do |c|
    %li
      = c["name"]
%p
  There doesn't seem to be any way to get the course descriptions
  from this API call. Need to do new API calls for each course. See below.


%h2 A course
%p
  = @course_1_url
%pre
  = @course_1.inspect
%ul
  %li
    = @course_1["name"]
  %li
    = @course_1["syllabus_body"]


%h2 My Courses
%p
  = @my_courses_url
%pre
  = @my_courses.inspect
%ul
  - @my_courses.each do |c|
    %li
      = c["name"]
